@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=VT323&display=swap');

html {
    background-color: #404040;
    margin: 0;
    color: antiquewhite;
}

a {
    color: antiquewhite;
}

a:visited {
    color: lightpink;
}

body {
    margin: 0;
}

main {
    font-family: "Electrolize", Helvetica, Arial;
}

#initial-config {
    display: grid;
    grid-template-columns: 30% 70%;
    
}

.pixel-other {
    font-size: 18px;
    line-height: 1;
}

#settings {
    padding-right: 5vw;
    padding-left: 5vw;
    border-right: 1px solid antiquewhite;
}

#title {
    font-family: 'VT323', monospace, Arial;
    background-color: #171717;
    font-size: 70px; 
    text-align: center;
    margin: 0 0 2vw 0;
    padding: 13px;
}

#settings {
    table-layout: fixed;
    font-size: 24px;
    margin: 0 auto;
    line-height: 2;
}

#original-image-section {
    padding-left: 5vw;
}


/*new image*/

#transformed-image-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

#new-image-subtitle {
    font-size: 30px;
    text-align: center;
}

#new-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.new-image-btns {
    align-items: center;
}

#new-image-canvas {
    margin: 0 auto;
    overflow: visible;
}

/*footer*/
footer{
    background-color: #171717;
    padding: 10px 10vw 10px 10vw;
    margin: 0;
}

/*modal*/
#modal {
    background-color: gray;
    color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 50%;
    z-index: 1;
    padding: 20% 0 0 45%;
    display: none;
}

#modal-text {
    opacity: 100%;
    font-size: 40px;
}

/*image resizer*/
#image-resizer-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*canvas*/
#canvas-div {
    text-align: center;
}

@media print {
    #title, #settings, #image-resizer-section, #new-image-subtitle, #new-image-btns, #image-dimensions, #image-upload, footer {
        display: none;
    }
    #user-image, #new-image-canvas {
        display: block;
    }
    #canvas-div {
        display: flex;
        justify-content: left;
    }
}
